{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}

<div class="asignatura">
  ASIGNATURAS DE ALUMNOS
</div>
    <div class="contenedor">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <form class="3" action="/guardarAsignatura/" method="post" enctype="multipart/form-data" id="frm_nuevo_asignatura">
          {% csrf_token %}
          <b>Nombre del/a Estudiante:</b>
          <input type="text" name="nombreEstudianteAJTS" id="nombreEstudianteAJTS" value=""placeholder="Ingrese los nombres completos del/a Estudiante" class="form-control" required>

          <br>
          <b>Nombre de la Asignatura:</b>
          <input type="text" name="nombreAsignaturaAJTS" id="nombreAsignaturaAJTS" value=""placeholder="Ingrese el nombre de la Asignatura" class="form-control" required>

          <br>
          <b>Creditos:</b>
          <textarea name="creditosAsignaturaAJTS" id="creditosAsignaturaAJTS" rows="3" class="form-control" placeholder="Creditos" class="form-control" required>
            </textarea>
            <br>
            <b>Fecha de Inicio:</b>
            <input type="date" name="fechaInicioAsignaturaAJTS" id="fechaInicioAsignaturaAJTS" value=""placeholder="Ingrese la fecha de inicio de la materia" class="form-control" required>
            <br>
            <b>Fecha de Finalizacion:</b>
            <input type="date" name="fechaFinalizacionAsignaturaAJTS" id="fechaFinalizacionAsignaturaAJTS" value=""placeholder="Ingrese la fecha de finaliacion de la materia" class="form-control" required>
            <br>
            <b>Profesor:</b>
            <input type="text" name="profesorAsignaturaAJTS" id="profesorAsignaturaAJTS" value=""placeholder="Ingrese nombre del profesor" class="form-control" required>
            <br>
            <b>Cargue el silabo:</b>
            <input type="file" name="silaboAsignaturaAJTS" id="silaboAsignaturaAJTS" accept=".doc, .docx, .pdf" class="form-control">
            <br>
            <script>
              $(document).ready(function () {
                  $("#silaboAsignaturaAJTS").fileinput({
                    //showUpload:false
                    //showRemove: false,
                    language:'es',
                  });
              });
            </script>
            <b>Requisitos:</b>
            <textarea name="requisitosAsignaturaAJTS" id="requisitosAsignaturaAJTS" rows="3" class="form-control" placeholder="Requisitos" class="form-control" required>
              </textarea>
              <br>
            <b>Descripcion:</b>
            <textarea name="descripcionAsignaturaAJTS" id="descripcionAsignaturaAJTS" rows="3" class="form-control" placeholder="Descripcion" class="form-control" required>
              </textarea>
              <br>
            <center>
            <button type="submit" name="button" class="btn btn-primary">
              GUARDAR  </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </center>

        </form>

      </div>

    </div>
<br>
<br>

    <div class="container">

        <table class="table" id="tbl_asignatura">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre Estudiante</th>
              <th>Nombre Asignatura</th>
              <th>Creditos</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Profesor</th>
              <th>Silabo</th>
              <th>Requisitos</th>
              <th>Descripcion</th>
              <th>Acciones</th>
            </tr>
          </thead>
        <tbody>
          {% for asignatura in asignaturas %}
            <tr>
              <td> {{asignatura.idAsignaturaAJTS}}</td>
              <td> {{asignatura.nombreEstudianteAJTS}} </td>
              <td> {{asignatura.nombreAsignaturaAJTS}} </td>
              <td> {{asignatura.creditosAsignaturaAJTS}}</td>
              <td> {{asignatura.fechaInicioAsignaturaAJTS}}</td>
              <td> {{asignatura.fechaFinalizacionAsignaturaAJTS}}</td>
              <td> {{asignatura.profesorAsignaturaAJTS}}</td>
              <td>
                 {% if asignatura.silaboAsignaturaAJTS %}
                    <center>
                       <a href="{{ asignatura.silaboAsignaturaAJTS.url }}" target="__blank">
                          <i class="fa fa-download"></i>
                       </a>
                    </center>
                 {% else %}
                    <b>N/A</b>
                 {% endif %}
              </td>
              <td>{{asignatura.requisitosAsignaturaAJTS}}</td>
              <td>{{asignatura.descripcionAsignaturaAJTS}}</td>
              <td>
                <a href="/editarAsignatura/{{asignatura.idAsignaturaAJTS}}" class="btn btn-warning">Editar</a>
                <a href="javascript:void(0)"
                onclick="eliminarAsignatura('/eliminarAsignatura/{{asignatura.idAsignaturaAJTS}}');"
                class="btn btn-danger">
                  Eliminar
                </a>

              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
    </div>

      <script type="text/javascript">
        function eliminarAsignatura(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>Asignatura</b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
        // Muestra un mensaje de éxito para el guardado
              {% if messages %}
                {% for message in messages %}
                          iziToast.success({
                              title: 'Éxito',
                              message: '{{ message }}',
                              position: 'topRight',
                          });
                      {% endfor %}
              {% endif %}
      </script>
      <script type="text/javascript">
       $("#frm_nuevo_asignatura").validate({
         rules:{
           "nombreEstudianteAJTS":{
             required:true
           },
            "nombreAsignaturaAJTS":{
              required:true
            },
            "creditosAsignaturaAJTS":{
              required:true
            },
            "fechaInicioAsignaturaAJTS":{
              required:true
            },
            "fechaFinalizacionAsignaturaAJTS":{
              required:true
            },
            "profesorAsignaturaAJTS":{
              required:true,
            },
            "silaboAsignaturaAJTS":{
              required:true
            },
            "requisitosAsignaturaAJTS":{
              required:true
            },
            "descripcionAsignaturaAJTS":{
              required:true
            }
         },
         messages:{
           "nombreEstudianteAJTS":{
             required:"Debe ingresar el nombre del estudiante"
           },
           "nombreAsignaturaAJTS":{
             required:"Debe ingresar el nombre de la asignatura"
           },
           "creditosAsignaturaAJTS":{
             required:"Creditos"
           },
           "fechaInicioAsignaturaAJTS":{
             required:"Debe ingresar la fecha de inicio de la materia"
           },
           "fechaFinalizacionAsignaturaAJTS":{
             required:"Debe ingresar la fecha de finalizacion de la materia"
            },
           "profesorAsignaturaAJTS":{
             required:"Ingrese el profesor de la asignatura"
           },
           "silaboAsignaturaAJTS":{
             required:"Seleccione el silabo de la asignatura"
           },
           "requisitosAsignaturaAJTS":{
             required:"Ingrese los requisitos que necesita"
           },
           "descripcionAsignaturaAJTS":{
             required:"Ingrese la Descripcion"
           }
         }
       });
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#tbl_asignatura').DataTable({
          dom: 'Bfrtip',
          buttons: [
            {
              extend: 'pdfHtml5',
              messageTop: 'REPORTES DE CLIENTES - DJANGO Y DATATABLES',
              customize: function (doc) {
                // Personaliza el documento PDF aquí
                doc.styles.title = {
                  color: 'green',
                  fontSize: '30',
                  alignment: 'center'
                };
                doc.content[1].margin = [ 100, 0, 100, 0 ]; // Margen superior e inferior
              },
              className: 'btn-pdf', // Clase CSS personalizada para el botón PDF
            },
            {
              extend: 'print',
              title: 'Reportes de Clientes - Django y DataTables',
              customize: function (win) {
                // Personaliza la ventana de impresión aquí
                $(win.document.body).css('font-size', '14px');
                $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
              },
              className: 'btn-print', // Clase CSS personalizada para el botón de impresión
            },
            {
              extend: 'csv',
              className: 'btn-csv', // Clase CSS personalizada para el botón CSV
            }
          ],
          language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          }
        });
      });
    </script>


{% endblock %}
