{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="carreras">
  CARRERAS
</div>
  <div class="contenedor">

    <div class="row">
      <div class="col-md-4 mx-auto">
        <form class="3" action="/guardarCarrera/" method="post" enctype="multipart/form-data" id="frm_nuevo_carrera">
          {% csrf_token %}
          <br>
          <b>Nombre de la Carrera:</b>
          <input type="text" name="nombreCarreraAJTS" id="nombreCarreraAJTS" value=""placeholder="Ingrese el nombre de la carrera" class="form-control" required>

          <br>
          <b>Director:</b>
          <input type="text" name="directorCarreraAJTS" id="directorCarreraAJTS" value=""placeholder="Ingrese el nombre del Director" class="form-control" required>

          <br>
            <b>Cargue el logo:</b>
            <input type="file" name="logoCarreraAJTS" id="logoCarreraAJTS" accept="image/*" class="form-control">
            <script>
              $(document).ready(function () {
                  $("#logoCarreraAJTS").fileinput({
                    //showUpload:false
                    //showRemove: false,
                    language:'es',
                  });
              });
            </script>
            <br>
            <b>Facultad:</b>
            <input type="text" name="facultadCarreraAJTS" id="facultadCarreraAJTS" value=""placeholder="Ingrese la facultad" class="form-control" required>
            <br>
            <b>Duracion:</b>
            <input type="text" name="duracionCarreraAJTS" id="duracionCarreraAJTS" value=""placeholder="Ingrese la duracion" class="form-control" required>
              <br>
            <center>
            <button type="submit" name="button" class="btn btn-primary">
              GUARDAR  </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </center>

        </form>

      </div>

    </div>
<br>
<br>
    <div class="container">

        <table class="table" id="tbl_carrera">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre de Carrera</th>
              <th>Director de Carrera</th>
              <th>Logo</th>
              <th>Facultad</th>
              <th>Duracion</th>
              <th>Acciones</th>
            </tr>
          </thead>
        <tbody>
          {% for carrera in carreras %}
            <tr>
              <td> {{carrera.idCarreraAJTS}}</td>
              <td> {{carrera.nombreCarreraAJTS}} </td>
              <td> {{carrera.directorCarreraAJTS}}</td>
              <td>
                 {% if carrera.logoCarreraAJTS %}
                    <center>
                       <a href="{{ carrera.logoCarreraAJTS.url }}" target="__blank">
                          <img src="{{ carrera.logoCarreraAJTS.url }}"  height="100px">
                       </a>
                    </center>
                 {% else %}
                    <b>N/A</b>
                 {% endif %}
              </td>
              <td> {{carrera.facultadCarreraAJTS}}</td>
              <td> {{carrera.duracionCarreraAJTS}}</td>

              <td>
                <a href="/editarCarrera/{{carrera.idCarreraAJTS}}" class="btn btn-warning">Editar</a>
                <a href="javascript:void(0)"
                onclick="eliminarCarrera('/eliminarCarrera/{{carrera.idCarreraAJTS}}');"
                class="btn btn-danger">
                  Eliminar
                </a>

              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>

  </div>

      <script type="text/javascript">
        function eliminarCarrera(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>Carrera</b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
        // Muestra un mensaje de éxito para el guardado
              {% if messages %}
                {% for message in messages %}
                          iziToast.success({
                              title: 'Éxito',
                              message: '{{ message }}',
                              position: 'topRight',
                          });
                      {% endfor %}
              {% endif %}
      </script>
      <script type="text/javascript">
       $("#frm_nuevo_carrera").validate({
         rules:{
            "nombreCarreraAJTS":{
              required:true,
            },
            "directorCarreraAJTS":{
              required:true,
            },
            "logoCarreraAJTS":{
              required:true,
            },
            "facultadCarreraAJTS":{
              required:true,
            },
            "duracionCarreraAJTS":{
              required:true,
            },
         },
         messages:{
           "nombreCarreraAJTS":{
             required:"Ingrese correctamente la nombre de la carrera",
           },
           "directorCarreraAJTS":{
             required:"Ingrese el nombre del director de la carrera",
           },
           "logoCarreraAJTS":{
             required:"Debe ingresar el logo de la carrera",
           },
           "facultadCarreraAJTS":{
             required:"Debe ingresar la facultad que corresponde",
            },
           "duracionCarreraAJTS":{
             required:"Ingrese la duracion correcta",
           },
         },
       });
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#tbl_carrera').DataTable({
          dom: 'Bfrtip',
          buttons: [
            {
              extend: 'pdfHtml5',
              messageTop: 'REPORTES DE CLIENTES - DJANGO Y DATATABLES',
              customize: function (doc) {
                // Personaliza el documento PDF aquí
                doc.styles.title = {
                  color: 'green',
                  fontSize: '30',
                  alignment: 'center'
                };
                doc.content[1].margin = [ 100, 0, 100, 0 ]; // Margen superior e inferior
              },
              className: 'btn-pdf', // Clase CSS personalizada para el botón PDF
            },
            {
              extend: 'print',
              title: 'Reportes de Clientes - Django y DataTables',
              customize: function (win) {
                // Personaliza la ventana de impresión aquí
                $(win.document.body).css('font-size', '14px');
                $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
              },
              className: 'btn-print', // Clase CSS personalizada para el botón de impresión
            },
            {
              extend: 'csv',
              className: 'btn-csv', // Clase CSS personalizada para el botón CSV
            }
          ],
          language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          }
        });
      });
    </script>


{% endblock %}
