{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="cursos">
  CURSOS
</div>
    <div class="contenedor">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <form class="3" action="/guardarCurso/" method="post" enctype="multipart/form-data" id="frm_nuevo_curso">
          {% csrf_token %}
          <br>
          <b>Nivel:</b>
          <input type="number" name="nivelCursoAJTS" id="nivelCursoAJTS" value=""placeholder="Ingrese el curso" class="form-control" required>

          <br>
          <b>Descripcion:</b>
          <input type="text" name="descripcionCursoAJTS" id="descripcionCursoAJTS" value=""placeholder="Ingrese la Descripcion del curso" class="form-control" required>
            <br>
            <b>Aula:</b>
            <input type="text" name="aulaCursoAJTS" id="aulaCursoAJTS" value=""placeholder="Ingrese el aula que corresponde" class="form-control" required>
            <br>
            <b>Paralelo:</b>
              <select name="paraleloCursoAJTS" id="paraleloCursoAJTS" class="form-control" required>
                  <option value="">--- Seleccione el paralelo ---</option>
                  <option value="A">Paralelo A</option>
                  <option value="B">Paralelo B</option>
              </select>
              <br>
            <b>Carrera:</b>
            <br>
            <select name="carrera" id="carrera"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                <option value="">--- Seleccione la carrera del curso ---</option>
                {% for carrera in carreras %}
                    <option value="{{ carrera.idCarreraAJTS }}">
                        {{ carrera.nombreCarreraAJTS }}
                    </option>
                {% endfor %}
            </select>

            <br>
            <br>
            <br>
             <br>
            <center>
            <button type="submit" name="button" class="btn btn-primary">
              GUARDAR  </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </center>

        </form>

      </div>

    </div>
<br>

<br>
    <div class="container">

        <table class="table" id="tbl_curso">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nivel</th>
              <th>Descripcion</th>
              <th>Aula</th>
              <th>Paralelo</th>
              <th>Carrera</th>
              <th>Acciones</th>
            </tr>
          </thead>
        <tbody>
          {% for curso in cursos %}
            <tr>
              <td> {{curso.idCursoAJTS}}</td>
              <td> {{curso.nivelCursoAJTS}} </td>
              <td> {{curso.descripcionCursoAJTS}}</td>
              <td> {{curso.aulaCursoAJTS}}</td>
              <td> {{curso.paraleloCursoAJTS}}</td>
              <td>{{ curso.nombreCarreraAJTS.nombreCarreraAJTS }}</td>
              <td>
                <a href="/editarCurso/{{curso.idCursoAJTS}}" class="btn btn-warning">Editar</a>
                <a href="javascript:void(0)"
                onclick="eliminarCurso('/eliminarCurso/{{curso.idCursoAJTS}}');"
                class="btn btn-danger">
                  Eliminar
                </a>

              </td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
    </div>

      <script type="text/javascript">
        function eliminarCurso(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>Carrera</b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
        // Muestra un mensaje de éxito para el guardado
              {% if messages %}
                {% for message in messages %}
                          iziToast.success({
                              title: 'Éxito',
                              message: '{{ message }}',
                              position: 'topRight',
                          });
                      {% endfor %}
              {% endif %}
      </script>
      <script type="text/javascript">
   $("#frm_nuevo_curso").validate({
     rules:{
       "nivelCursoAJTS":{
         required:true,
         digitsOnly: true, // Agregamos una regla personalizada para permitir solo dígitos
         minNumber: 0,
         maxNumber: 10, // Agregamos una regla personalizada para verificar que el número no sea menor que cero

       },
        "descripcionCursoAJTS":{
          required:true,
        },
        "aulaCursoAJTS":{
          required:true,
          lettersOnly: true, // Agregamos una regla personalizada
        },
        "paraleloCursoAJTS":{
          required:true,
        },
        "carrera":{
          required:true,
        },
     },
     messages:{
       "nivelCursoAJTS":{
         required:"Ingrese correctamente el nivel",
         digitsOnly: "Ingrese solo números",
         minNumber: "Ingrese un número mayor o igual a cero",
         maxNumber: "Ingrese un número menor o igual a cero",

       },
       "descripcionCursoAJTS":{
         required:"Descripcion",
       },
       "aulaCursoAJTS":{
         required:"Debe ingresar el aula",
         lettersOnly: "Ingrese solo letras",
       },
       "paraleloCursoAJTS":{
         required:"Debe elegir un paraleo",
        },
       "carrera":{
         required:"Ingrese la carrera que pertenece al curso",
       },
     },
   });

   // Agregamos una regla personalizada para validar solo letras
   $.validator.addMethod("lettersOnly", function(value, element) {
       return this.optional(element) || /^[a-zA-Z\sñáéíóúÁÉÍÓÚ]+$/.test(value);
   }, "Solo se permiten letras.");
   // Agregamos una regla personalizada para validar que el número no sea menor que cero
  $.validator.addMethod("minNumber", function(value, element, param) {
      return value >= param;
  }, $.validator.format("Ingrese un número mayor o igual a {0}"));
</script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#tbl_curso').DataTable({
          dom: 'Bfrtip',
          buttons: [
            {
              extend: 'pdfHtml5',
              messageTop: 'REPORTES DE CLIENTES - DJANGO Y DATATABLES',
              customize: function (doc) {
                // Personaliza el documento PDF aquí
                doc.styles.title = {
                  color: 'green',
                  fontSize: '30',
                  alignment: 'center'
                };
                doc.content[1].margin = [ 100, 0, 100, 0 ]; // Margen superior e inferior
              },
              className: 'btn-pdf', // Clase CSS personalizada para el botón PDF
            },
            {
              extend: 'print',
              title: 'Reportes de Clientes - Django y DataTables',
              customize: function (win) {
                // Personaliza la ventana de impresión aquí
                $(win.document.body).css('font-size', '14px');
                $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
              },
              className: 'btn-print', // Clase CSS personalizada para el botón de impresión
            },
            {
              extend: 'csv',
              className: 'btn-csv', // Clase CSS personalizada para el botón CSV
            }
          ],
          language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          }
        });
      });
    </script>




{% endblock %}
