{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<h3>EDITAR CARRERA</h3>

<div class="row">

  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionCarrera' carrera.idCarreraAJTS %}" method="post" enctype="multipart/form-data" id="frm_nuevo_carrera" >

      {% csrf_token %}
      <br>
      <input type="hidden" name="idCarreraAJTS"  value="{{carrera.idCarreraAJTS}}">
      <b>Nombre de la Asignatura:</b>
      <input type="text" name="nombreCarreraAJTS" id="nombreCarreraAJTS"
      value="{{carrera.nombreCarreraAJTS}}" placeholder="Ingrese la carrera"
      class="form-control" required>
      <br>
      <b>Director:</b>
      <input type="text" name="directorCarreraAJTS" id="directorCarreraAJTS"
      value="{{carrera.directorCarreraAJTS}}" placeholder="Ingrese la carrera"
      class="form-control" required>
      <br>
      <b>Logo</b>
      <input type="file" name="logoCarreraAJTS" id="logoCarreraAJTS" accept="image/*"  class="form-control" >
      <script>
        $(document).ready(function () {
            $("#logoCarreraAJTS").fileinput({
              //showUpload:false
              //showRemove: false,
              language:'es',
            });
        });
      </script>
      <br>
      <b>Facultad:</b>
      <input type="text" name="facultadCarreraAJTS" id="facultadCarreraAJTS"
      value="{{carrera.facultadCarreraAJTS}}" placeholder="Ingrese carrera correcta"
      class="form-control" required>
      <br>
      <b>Duracion:</b>
      <input type="text" name="duracionCarreraAJTS" id="duracionCarreraAJTS"
      value="{{carrera.duracionCarreraAJTS}}" placeholder="Ingrese la duracion"
      class="form-control" required>
      <br>
      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/carrera/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script type="text/javascript">
 $("#frm_nuevo_carrera").validate({
   rules:{
      "nombreCarreraAJTS":{
        required:true,
      },
      "directorCarreraAJTS":{
        required:true,
      },
      "logoCarreraAJTS":{
        required:true,
      },
      "facultadCarreraAJTS":{
        required:true,
      },
      "duracionCarreraAJTS":{
        required:true,
      },
   },
   messages:{
     "nombreCarreraAJTS":{
       required:"Ingrese correctamente la nombre de la carrera",
     },
     "directorCarreraAJTS":{
       required:"Ingrese el nombre del director de la carrera",
     },
     "logoCarreraAJTS":{
       required:"Debe ingresar el logo correcto",
     },
     "facultadCarreraAJTS":{
       required:"Debe ingresar la facultad que corresponde",
      },
     "duracionCarreraAJTS":{
       required:"Ingrese la duracion correcta",
     },
   },
 });
</script>

{% endblock %}
