{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <h3>EDITAR CURSOS</h3>
  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionCurso' curso.idCursoAJTS %}" method="post" enctype="multipart/form-data" id="frm_nuevo_curso" >

      {% csrf_token %}
      <br>
      <input type="hidden" name="idCursoAJTS"  value="{{curso.idCursoAJTS}}">
      <b>Nivel:</b>
      <input type="text" name="nivelCursoAJTS" id="nivelCursoAJTS"
      value="{{curso.nivelCursoAJTS}}" placeholder="Ingrese el curso"
      class="form-control" required>
      <br>
      <b>Descripcion:</b>
      <input type="text" name="descripcionCursoAJTS" id="descripcionCursoAJTS"
      value="{{curso.descripcionCursoAJTS}}" placeholder="Descripcions"
      class="form-control" required>
      <br>
      <b>Aula:</b>
      <input type="text" name="aulaCursoAJTS" id="aulaCursoAJTS"
      value="{{curso.aulaCursoAJTS}}" placeholder="Descripcions"
      class="form-control" required>
      <br>
      <b>Paralelo:</b>
        <select name="paraleloCursoAJTS" id="paraleloCursoAJTS" class="form-control" required>
            <option value="">--- Seleccione el paralelo ---</option>
            <option value="A">Paralelo A</option>
            <option value="B">Paralelo B</option>
        </select>
        <br>
        <b>Carrera:</b>
        <br>
        <select name="carrera" id="carrera"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required >
            <option value="">--- Seleccione la carrera del curso ---</option>
            {% for carrera in carreras %}
                <option value="{{ carrera.idCarreraAJTS }}">
                    {{ carrera.nombreCarreraAJTS }}
                </option>
            {% endfor %}
        </select>

      <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/curso/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script type="text/javascript">
$("#frm_nuevo_curso").validate({
rules:{
 "nivelCursoAJTS":{
   required:true,
   digitsOnly: true, // Agregamos una regla personalizada para permitir solo dígitos
   minNumber: 0,
   maxNumber: 10, // Agregamos una regla personalizada para verificar que el número no sea menor que cero

 },
  "descripcionCursoAJTS":{
    required:true,
  },
  "aulaCursoAJTS":{
    required:true,
    lettersOnly: true, // Agregamos una regla personalizada
  },
  "paraleloCursoAJTS":{
    required:true,
  },
  "carrera":{
    required:true,
  },
},
messages:{
 "nivelCursoAJTS":{
   required:"Ingrese correctamente el nivel",
   digitsOnly: "Ingrese solo números",
   minNumber: "Ingrese un número mayor o igual a cero",
   maxNumber: "Ingrese un número menor o igual a cero",

 },
 "descripcionCursoAJTS":{
   required:"Descripcion",
 },
 "aulaCursoAJTS":{
   required:"Debe ingresar el aula",
   lettersOnly: "Ingrese solo letras",
 },
 "paraleloCursoAJTS":{
   required:"Debe elegir un paraleo",
  },
 "carrera":{
   required:"Ingrese la carrera que pertenece al curso",
 },
},
});

// Agregamos una regla personalizada para validar solo letras
$.validator.addMethod("lettersOnly", function(value, element) {
 return this.optional(element) || /^[a-zA-Z\sñáéíóúÁÉÍÓÚ]+$/.test(value);
}, "Solo se permiten letras.");
// Agregamos una regla personalizada para validar que el número no sea menor que cero
$.validator.addMethod("minNumber", function(value, element, param) {
return value >= param;
}, $.validator.format("Ingrese un número mayor o igual a {0}"));
</script>

{% endblock %}
