{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<h3>EDITAR MATRICULA</h3>

<div class="row">

  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionMatricula' matricula.idMatriculaAJTS %}" method="post" enctype="multipart/form-data" id="frm_nuevo_matricula" >

      {% csrf_token %}
      <br>
      <b>Estudiante:</b>
      <br>
      <select name="estudiante" id="estudiante"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
          <option value="">--- Seleccione la el estudiante---</option>
          {% for asignatura in asignaturas%}
              <option value="{{ asignatura.idAsignaturaAJTS }}">
                  {{ asignatura.nombreEstudianteAJTS }}
              </option>
          {% endfor %}
      </select>
      <br>
      <b>Asignatura:</b>
      <br>
      <select name="asignatura" id="asignatura"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
          <option value="">--- Seleccione la asignatura---</option>
          {% for asignatura in asignaturas%}
              <option value="{{ asignatura.idAsignaturaAJTS }}">
                  {{ asignatura.nombreAsignaturaAJTS }}
              </option>
          {% endfor %}
      </select>
        <br>
        <b>Fecha Inicio del Curso :</b>
        <br>
        <select name="fechaInicio" id="fechaInicio"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
            <option value="">--- Seleccione la fecha de inicio---</option>
            {% for asignatura in asignaturas%}
                <option value="{{ asignatura.idAsignaturaAJTS }}">
                    {{ asignatura.fechaInicioAsignaturaAJTS }}
                </option>
            {% endfor %}
        </select>
        <br>

          <br>
          <b>Fecha Final del Curso :</b>
          <br>
          <select name="fechaFin" id="fechaFin"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
              <option value="">--- Seleccione la fecha Final---</option>
              {% for asignatura in asignaturas%}
                  <option value="{{ asignatura.idAsignaturaAJTS }}">
                      {{ asignatura.fechaFinalizacionAsignaturaAJTS }}
                  </option>
              {% endfor %}
          </select>
          <br>
        <b>Carrera:</b>
        <br>
        <select name="carrera" id="carrera"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
            <option value="{{carrera.nombreCarreraAJTS}}">--- Seleccione la carrera del curso ---</option>
            {% for carrera in carreras %}
                <option value="{{ carrera.idCarreraAJTS }}">
                    {{ carrera.nombreCarreraAJTS }}
                </option>
            {% endfor %}
        </select>
        <br>
        <b>Nivel:</b>
        <br>
        <select name="nivel" id="nivel"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
            <option value="">--- Seleccione el nivel del curso ---</option>
            {% for curso in cursos %}
                <option value="{{ curso.idCursoAJTS }}">
                    {{ curso.nivelCursoAJTS }}
                </option>
            {% endfor %}
        </select>
        <br>
        <b>Paralelo :</b>
        <br>
        <select class="form-control"name="paralelo" id="paralelo"  required>
            <option value="">--- Paralelo del curso ---</option>
            {% for curso in cursos %}
                <option value="{{ curso.idCursoAJTS }}">
                    {{ curso.paraleloCursoAJTS }}
                </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <br>
         <br>
        <center>
          <center>
            <button type="submit" name="button"
            class="btn btn-primary">
              &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/matricula/"
            class="btn btn-danger">
              Cancelar
            </a>
          </center>

    </form>

  </div>

  </div>
  <br>
  <br>

  <script type="text/javascript">
  function eliminarMatricula(url){
  iziToast.question({
  timeout: 15000,
  close: true,
  overlay: true,
  displayMode: 'once',
  id: 'question',
  zindex: 999,
  title: 'CONFIRMACIÓN',
  message: '¿Está seguro de eliminar la <b>Carrera</b> seleccionada?',
  position: 'center',
  buttons: [
      ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href=url;
      }, true],
      ['<button>NO</button>', function (instance, toast) {

          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

      }],
  ]
  });
  }
  // Muestra un mensaje de éxito para el guardado
  {% if messages %}
    {% for message in messages %}
              iziToast.success({
                  title: 'Éxito',
                  message: '{{ message }}',
                  position: 'topRight',
              });
          {% endfor %}
  {% endif %}
  </script>

  <script type="text/javascript">
  $("#frm_nuevo_matricula").validate({
  rules:{
  "estudiante":{
  required:true,
  },
  "asignatura":{
  required:true,
  },
  "fechaInicio":{
  required:true,
  },
  "fechaFin":{
  required:true,
  },
  "carrera":{
  required:true,
  },
  "nivel":{
  required:true,
  },
  "paralelo":{
  required:true,
  },
  },
  messages:{
  "estudiante":{
  required:"Seleecione el nombre del Alumno",
  },
  "asignatura":{
  required:"SEleecione la asignatura",
  },
  "fechaInicio":{
  required:"Ingrese la fecha corrrecta de inicio",
  },
  "fechaFin":{
  required:"Ingrese la fecha corrrecta de fin",
  },
  "carrera":{
  required:"Seleccione la carrera",
  },
  "nivel":{
  required:"Seleccione el nivel",
  },
  "paralelo":{
  required:"Seleccione el paralelo",
  },
  },
  });
  </script>

  <script type="text/javascript">
  $(document).ready(function () {
  $('#tbl_matricula').DataTable({
  dom: 'Bfrtip',
  buttons: [
  {
  extend: 'pdfHtml5',
  messageTop: 'REPORTES DE CLIENTES - DJANGO Y DATATABLES',
  customize: function (doc) {
    // Personaliza el documento PDF aquí
    doc.styles.title = {
      color: 'green',
      fontSize: '30',
      alignment: 'center'
    };
    doc.content[1].margin = [ 100, 0, 100, 0 ]; // Margen superior e inferior
  },
  className: 'btn-pdf', // Clase CSS personalizada para el botón PDF
  },
  {
  extend: 'print',
  title: 'Reportes de Clientes - Django y DataTables',
  customize: function (win) {
    // Personaliza la ventana de impresión aquí
    $(win.document.body).css('font-size', '14px');
    $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
  },
  className: 'btn-print', // Clase CSS personalizada para el botón de impresión
  },
  {
  extend: 'csv',
  className: 'btn-csv', // Clase CSS personalizada para el botón CSV
  }
  ],
  language: {
  url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
  }
  });
  });
  </script>

{% endblock %}
