{# heredando header y footer #}
{% extends "./inicio.html" %}
{% load static %}

{% block contenido %}
<h3>EDITAR ASIGNATURA</h3>

<div class="row">

  <div class="col-md-6 mx-auto">
    <br> <br>
    <form class="" action="{% url 'procesarActualizacionAsignatura' asignatura.idAsignaturaAJTS %}" method="post" enctype="multipart/form-data" id="frm_nuevo_asignatura" >

      {% csrf_token %}


      <br>
      <input type="hidden" name="idAsignaturaAJTS"  value="{{asignatura.idAsignaturaAJTS}}">
      <b>Nombre del Estudiante:</b>
      <input type="text" name="nombreEstudianteAJTS" id="nombreEstudianteAJTS"
      value="{{asignatura.nombreEstudianteAJTS}}" placeholder="Ingrese el nombre del estudiante"
      class="form-control" required>
      <b>Nombre de la Asignatura:</b>
      <input type="text" name="nombreAsignaturaAJTS" id="nombreAsignaturaAJTS"
      value="{{asignatura.nombreAsignaturaAJTS}}" placeholder="Ingrese la carrera"
      class="form-control" required>
      <br>
      <b>Creditos:</b>
       <textarea name="creditosAsignaturaAJTS" id="creditosAsignaturaAJTS"
       rows="3" class="form-control"
       placeholder="Creditos"
       >{{asignatura.creditosAsignaturaAJTS}}</textarea>
       <br>
       <b>Fecha de Inicio:</b>
       <input type="date" name="fechaInicioAsignaturaAJTS"
       id="fechaInicioAsignaturaAJTS"
       value="{{asignatura.fechaInicioAsignaturaAJTS|date:'Y-m-d'}}" placeholder="Ingrese la fecha Inicio"
       class="form-control" required>
       <br>
       <b>Fecha de Finalizacion:</b>
       <input type="date" name="fechaFinalizacionAsignaturaAJTS"
       id="fechaFinalizacionAsignaturaAJTS"
       value="{{asignatura.fechaFinalizacionAsignaturaAJTS|date:'Y-m-d'}}" placeholder="Ingrese la fecha de nacimiento"
       class="form-control" required>
       <br>
      <b>Profesor:</b>
      <input type="text" name="profesorAsignaturaAJTS" id="profesorAsignaturaAJTS"
      value="{{asignatura.profesorAsignaturaAJTS}}" placeholder="Ingrese el nombre del Profesor"
      class="form-control" required>
      <br>
      <b>Silabo</b>
      <input type="file" name="silaboAsignaturaAJTS" id="silaboAsignaturaAJTS" accept=".doc, .docx, .pdf"  class="form-control" >
      <br>
     <b>Requisitos:</b>
      <textarea name="requisitosAsignaturaAJTS" id="requisitosAsignaturaAJTS"
      rows="3" class="form-control"
      placeholder="Ingrese los requisitos"
      >{{asignatura.requisitosAsignaturaAJTS}}</textarea>
      <br>
      <b>Descripcion:</b>
       <textarea name="descripcionAsignaturaAJTS" id="descripcionAsignaturaAJTS"
       rows="3" class="form-control"
       placeholder="Decripcion"
       >{{asignatura.requisitosAsignaturaAJTS}}</textarea>
       <br>

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/asignatura/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
<script type="text/javascript">
 $("#frm_nuevo_asignatura").validate({
   rules:{
     "nombreEstudianteAJTS":{
       required:true
     },
      "nombreAsignaturaAJTS":{
        required:true
      },
      "creditosAsignaturaAJTS":{
        required:true
      },
      "fechaInicioAsignaturaAJTS":{
        required:true
      },
      "fechaFinalizacionAsignaturaAJTS":{
        required:true
      },
      "profesorAsignaturaAJTS":{
        required:true,
      },
      "silaboAsignaturaAJTS":{
        required:true
      }
   },
   messages:{
     "nombreEstudianteAJTS":{
       required:"Debe ingresar el nombre de la asignatura"
     },
     "nombreAsignaturaAJTS":{
       required:"Debe ingresar el nombre de la asignatura"
     },
     "creditosAsignaturaAJTS":{
       required:"Creditos"
     },
     "fechaInicioAsignaturaAJTS":{
       required:"Debe ingresar la fecha de inicio de la materia"
     },
     "fechaFinalizacionAsignaturaAJTS":{
       required:"Debe ingresar la fecha de finalizacion de la materia"
        },
     "profesorAsignaturaAJTS":{
       required:"Ingrese el profesor de la asignatura",
     },
     "silaboAsignaturaAJTS":{
       required:"Seleccione el silabo de la asignatura"
     }
   }
 });
</script>
{% endblock %}
