{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Enviar Correo</title>
</head>
<body>

<h3>Email</h3>
<div class="row">
  <div class="col-md-4 mx-auto">
<form  method="post" action="{% url 'enviar_correo' %}" id="frm_nuevo_correo">
    {% csrf_token %}
    <b>Destinatario:</b>
    <input class="form-control"type="email" name="destinatario" id="destinatario" placeholder="Ingrese el correo" required>
    <br>
    <b>Asunto:</b>
    <input class="form-control"type="text" name="asunto"id="asunto" placeholder="Ingrese el asunto requerido" required>
    <br>
    <textarea name="cuerpo" id="cuerpo" rows="8" placeholder="Ingrese el mensaje" style="width: 100%; max-width: 100%; min-height: 100px;" required></textarea>
     <br>
     <br>
      <center>
     <button type="submit" name="button"
     class="btn btn-success">
       &nbsp;&nbsp;&nbsp;Enviar&nbsp;&nbsp;&nbsp;
     </button>&nbsp;&nbsp;&nbsp;&nbsp;  </center></form>

</div>
</div>
<script type="text/javascript">
 $("#frm_nuevo_correo").validate({
   rules:{
      "correo":{
        required:true,
      },
      "asunto":{
        required:true,
      },
      "cuerpo":{
        required:true,
      },

   },
   messages:{
     "destinatario":{
       required:"Ingrese correctamente el correo",
     },
     "asunto":{
       required:"Ingrese el asunto",
     },
     "cuerpo":{
       required:"Ingrese el mensaje a enviar",
     },
   },
 });
</script>
</body>

{% endblock %}


</html>
