{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="contenedor">
    <div id="welcome-container">
  <img id="background-image" src="UniversidadAJTS/static/img/inicio.jpg" alt="">
  <div id="overlay-text">
    BIENVENIDOS
    <p class="cursiva-pequena">UNIANDES</p>
  </div>
</div>
  </div>
  </body>
  {% endblock %}

</html>
