
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}

<div class="matriculas">
  GESTIÓN DE MATRICULAS
</div>
<div class="contenedor">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <form class="3" action="/guardarMatricula/" method="post" enctype="multipart/form-data" id="frm_nuevo_matricula">
            {% csrf_token %}
            <br>
            <b>Estudiante:</b>
            <br>
            <select name="estudiante" id="estudiante"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                <option value="">--- Seleccione la el estudiante---</option>
                {% for asignatura in asignaturas%}
                    <option value="{{ asignatura.idAsignaturaAJTS }}">
                        {{ asignatura.nombreEstudianteAJTS }}
                    </option>
                {% endfor %}
            </select>
            <br>
            <b>Asignatura:</b>
            <br>
            <select name="asignatura" id="asignatura"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                <option value="">--- Seleccione la asignatura---</option>
                {% for asignatura in asignaturas%}
                    <option value="{{ asignatura.idAsignaturaAJTS }}">
                        {{ asignatura.nombreAsignaturaAJTS }}
                    </option>
                {% endfor %}
            </select>
              <br>
              <b>Fecha Inicio del Curso :</b>
              <br>
              <select name="fechaInicio" id="fechaInicio"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                  <option value="">--- Seleccione la fecha de inicio---</option>
                  {% for asignatura in asignaturas%}
                      <option value="{{ asignatura.idAsignaturaAJTS }}">
                          {{ asignatura.fechaInicioAsignaturaAJTS }}
                      </option>
                  {% endfor %}
              </select>
              <br>

                <br>
                <b>Fecha Final del Curso :</b>
                <br>
                <select name="fechaFin" id="fechaFin"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                    <option value="">--- Seleccione la fecha Final---</option>
                    {% for asignatura in asignaturas%}
                        <option value="{{ asignatura.idAsignaturaAJTS }}">
                            {{ asignatura.fechaFinalizacionAsignaturaAJTS }}
                        </option>
                    {% endfor %}
                </select>
                <br>
              <b>Carrera:</b>
              <br>
              <select name="carrera" id="carrera"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                  <option value="">--- Seleccione la carrera del curso ---</option>
                  {% for carrera in carreras %}
                      <option value="{{ carrera.idCarreraAJTS }}">
                          {{ carrera.nombreCarreraAJTS }}
                      </option>
                  {% endfor %}
              </select>
              <br>
              <b>Nivel:</b>
              <br>
              <select name="nivel" id="nivel"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                  <option value="">--- Seleccione el nivel del curso ---</option>
                  {% for curso in cursos %}
                      <option value="{{ curso.idCursoAJTS }}">
                          {{ curso.nivelCursoAJTS }}
                      </option>
                  {% endfor %}
              </select>
              <br>
              <b>Paralelo :</b>
              <br>
              <select class="form-control"name="paralelo" id="paralelo"  required>
                  <option value="">--- Paralelo del curso ---</option>
                  {% for curso in cursos %}
                      <option value="{{ curso.idCursoAJTS }}">
                          {{ curso.paraleloCursoAJTS }}
                      </option>
                  {% endfor %}
              </select>
              <br>
              <br>
              <br>
               <br>
              <center>
              <button type="submit" name="button" class="btn btn-success">
                MATRICULARSE  </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <br>
              <br>
              <br>
              <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info"> Mostrar/ocultar gráfico de estudiantes registrados </button>

              </center>

          </form>

        </div>

      </div>
      <br>
      <br>
<div class="container">
    <table class="table" id="tbl_matricula">
      <thead>
          <tr>
              <th>ID</th>
              <th>Estudiante</th>
              <th>Asignatura</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Finalización</th>
              <th>Carrera</th>
              <th>Nivel</th>
              <th>Paralelo</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for matricula in matriculas %}
          <tr>
                <td>{{ matricula.idMatriculaAJTS }}</td>
                <td>{{ matricula.nombreEstudianteAJTS.nombreEstudianteAJTS }}</td>
                <td>{{ matricula.nombreAsignaturaAJTS.nombreAsignaturaAJTS }}</td>
                <td>{{ matricula.fechaInicioAsignaturaAJTS.fechaInicioAsignaturaAJTS }}</td>
                <td>{{ matricula.fechaFinalizacionAsignaturaAJTS.fechaFinalizacionAsignaturaAJTS}}</td>
                <td>{{ matricula.nombreCarreraAJTS.nombreCarreraAJTS }}</td>
                <td>{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}</td>
                <td>{{ matricula.paraleloCursoAJTS.paraleloCursoAJTS }}</td>
                <td>
                  <a href="/editarMatricula/{{matricula.idMatriculaAJTS}}" class="btn btn-warning">Editar</a>
                  <a href="javascript:void(0)"
                  onclick="eliminarMatricula('/eliminarMatricula/{{matricula.idMatriculaAJTS}}');"
                  class="btn btn-danger">
                    Eliminar
                  </a>
                  <br>


                </td>
            </tr>
          {% endfor %}
      </tbody>


    </table>

</div>

</div>
<script type="text/javascript">
  function eliminarMatricula(url){
    iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar la <b>Carrera</b> seleccionada?',
        position: 'center',
        buttons: [
            ['<button><b>SI</b></button>', function (instance, toast) {
                instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                window.location.href=url;
            }, true],
            ['<button>NO</button>', function (instance, toast) {

                instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

            }],
        ]
    });
  }
  // Muestra un mensaje de éxito para el guardado
        {% if messages %}
          {% for message in messages %}
                    iziToast.success({
                        title: 'Éxito',
                        message: '{{ message }}',
                        position: 'topRight',
                    });
                {% endfor %}
        {% endif %}
</script>

<script type="text/javascript">
 $("#frm_nuevo_matricula").validate({
   rules:{
      "estudiante":{
        required:true,
      },
      "asignatura":{
        required:true,
      },
      "fechaInicio":{
        required:true,
      },
      "fechaFin":{
        required:true,
      },
      "carrera":{
        required:true,
      },
      "nivel":{
        required:true,
      },
      "paralelo":{
        required:true,
      },
   },
   messages:{
     "estudiante":{
       required:"Seleecione el nombre del Alumno",
     },
     "asignatura":{
       required:"SEleecione la asignatura",
     },
     "fechaInicio":{
       required:"Ingrese la fecha corrrecta de inicio",
     },
     "fechaFin":{
       required:"Ingrese la fecha corrrecta de fin",
      },
     "carrera":{
       required:"Seleccione la carrera",
     },
     "nivel":{
       required:"Seleccione el nivel",
     },
     "paralelo":{
       required:"Seleccione el paralelo",
     },
   },
 });
</script>

<script type="text/javascript">
$(document).ready(function () {
  $('#tbl_matricula').DataTable({
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'pdfHtml5',
        messageTop: 'REPORTES DE CLIENTES - DJANGO Y DATATABLES',
        customize: function (doc) {
          // Personaliza el documento PDF aquí
          doc.styles.title = {
            color: 'green',
            fontSize: '30',
            alignment: 'center'
          };
          doc.content[1].margin = [ 100, 0, 100, 0 ]; // Margen superior e inferior
        },
        className: 'btn-pdf', // Clase CSS personalizada para el botón PDF
      },
      {
        extend: 'print',
        title: 'Reportes de Clientes - Django y DataTables',
        customize: function (win) {
          // Personaliza la ventana de impresión aquí
          $(win.document.body).css('font-size', '14px');
          $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
        },
        className: 'btn-print', // Clase CSS personalizada para el botón de impresión
      },
      {
        extend: 'csv',
        className: 'btn-csv', // Clase CSS personalizada para el botón CSV
      }
    ],
    language: {
      url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
    }
  });
});
</script>

<div id="chartContainer" style=" width: 50%; margin: auto; border: 2px solid black; padding: 60px; display: none;">
  <canvas id="myChart"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const ctx = document.getElementById('myChart');

      const nivelesSet = new Set();

      const estudiantesPorNivel = {};
      {% for matricula in matriculas %}
        nivelesSet.add("{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}");
        if (!estudiantesPorNivel["{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}"]) {
          estudiantesPorNivel["{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}"] = 1;
        } else {
          estudiantesPorNivel["{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}"] += 1;
        }
      {% endfor %}
      const nivelesArray = Array.from(nivelesSet);
      const posiciones = nivelesArray.map((nivel, index) => ({ x: index, y: estudiantesPorNivel[nivel] || 0 }));

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: nivelesArray,
          datasets: [{
            label: 'Cantidad de Estudiantes',
            data: posiciones.map(posicion => posicion.y),
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
          }]
        },
        options: {
          scales: {
            x: {
              type: 'category',
              position: 'bottom',
            },
            y: {
              beginAtZero: true,
              stepSize: 1,
              precision: 0, // Ajuste para mostrar solo números enteros en el eje Y
            }
          }
        }
      });
      window.toggleChart = function() {
        const chartContainer = document.getElementById('chartContainer');

        if (chartContainer.style.display === 'none') {
          chartContainer.style.display = 'block';
        } else {
          chartContainer.style.display = 'none';
        }
      };
    });

</script>

<div id="pieChartContainer" style=" width: 50%; margin: auto; border: 2px solid black; padding: 60px;">
  <canvas id="pieChart"></canvas>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {

  const ctxPie = document.getElementById('pieChart');

  const nivelesSetPie = new Set();

  const estudiantesPorNivelPie = {};
  {% for matricula in matriculas %}
    nivelesSetPie.add("{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}");
    if (!estudiantesPorNivelPie["{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}"]) {
      estudiantesPorNivelPie["{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}"] = 1;
    } else {
      estudiantesPorNivelPie["{{ matricula.nivelCursoAJTS.nivelCursoAJTS }}"] += 1;
    }
  {% endfor %}
  const nivelesArrayPie = Array.from(nivelesSetPie);
  const dataPie = nivelesArrayPie.map(nivel => estudiantesPorNivelPie[nivel]);

  new Chart(ctxPie, {
    type: 'pie',
    data: {
      labels: nivelesArrayPie,
      datasets: [{
        label: 'Cantidad de Estudiantes por Nivel',
        data: dataPie,
        backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
          'rgba(153, 102, 255, 0.5)',
          'rgba(255, 159, 64, 0.5)',
          'rgba(255, 99, 132, 0.5)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 1,
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
    }
  });
});
</script>

{% endblock %}
